.FullWeather {
  display: flex;
  border: 1px solid black;
  padding: 25px;
  width: 80%;
  margin-top: 25px;
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
}

.upper-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.text-weather-conditions {
  font-size: 38px;
  margin-top: 50px;
}

.five-days-cards-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 28px;
  justify-content: space-between;
}

.day-weather-card {
  width: 18%;
  height: 240px;
  border: 1px solid black;
}
